.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #0D1117; /* Dark theme */
  color: #C9D1D9;
  padding: 5rem 2rem;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
}

/* Left Div */
.contact-left {
  flex: 1;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.contact-title {
  font-size: 2.2rem;
  color: #58a6ff;
  margin-bottom: 1rem;
}

.contact-subtitle {
  font-size: 1rem;
  color: #8b949e;
  margin-bottom: 2rem;
}

.contact-email {
  font-size: 1rem;
  /* margin-bottom: 1.5rem; */
  color: #C9D1D9;
}

.contact-linkdin a {
   color: #C9D1D9;
  text-decoration: none;
}

.social-icons a {
  color: #C9D1D9;
  margin-right: 12px;
  font-size: 1.3rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #58a6ff;
}

/* Right Div */
.contact-right {
  font-family: "Poppins", sans-serif;
  flex: 1;
  background: #161B22;
  padding: 2rem ;
  padding-right: 3rem;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 0.5rem 0.5rem;
  background: #0D1117;
  border: 1px solid #30363d;
  border-radius: 8px;
  color: #C9D1D9;
  font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #58a6ff;
  outline: none;
}

.send-btn {
  background: #238636;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.send-btn:hover {
  background: #2ea043;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
}
